*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

.offscreen {
    display: none;
}

.carousel {
    max-width: 80%;
    min-height: 30em;
    position: relative;
    overflow: hidden;
    margin: 2em auto;
}

@media(max-width: 500px) {
    .carousel {
        margin: 0;
        max-width: 100%;
    }
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content li {
    margin: 2em auto;
    padding: 4em;
    color: #fff;
    list-style: none;
    text-align: center;
    width: 100%;
}

.content li h1 {
    margin: 0;
}

.content li p {
    text-align: center;
}

.active {
    height: 30em;
}

.carousel .buttons {
    display: block!important;
}

.carousel button {
    border: none;
    visibility: hidden;
}

.active button {
    visibility: visible;
}

.buttons {
    display: none;
}

.active .buttons {
    display: block;
    width: 95%;
    height: 2em;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.active .next-button {
    float: right;
}

.active .content {
    height: 100%;
    display: flex;
    transition: transform 0.4s;
}

.active li {
    width: 100%;
    height: 100%;
    padding: 3em;
    display: inline;
    margin: auto;
    color: #fff;
}

@supports (display: flex) {
    .active li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

li a {
    text-decoration: none;
    color: #fff;
    height: 3.6em;
    border: 2px solid #fff;
    width: 15em;
    margin: 1em auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-weight: 800;
}

li h1 {
    font-size: 2.1em;
    max-width: 30em;
}

li p {
    line-height: 1.5;
    font-size: 1.1em;
    max-width: 30em;
    margin: 1em auto;
}

li a:hover, li a:focus {
    color: #000;
    border: none;
    background-color: #fff;
}

li:nth-child(1) {
    background-color: #118AB2;
}

li:nth-child(2) {
    background-color: #EF476F;
}

li:nth-child(3) {
    background-color: #06D6A0;
}

li:nth-child(4) {
    background-color: #073B4C;
}
